<!DOCTYPE html>
<html  ng-app="controllerInheritenceApp" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="..\..\static\css\bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" href="..\..\static\css\bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}"/>
    <title>Controller And Inheritence</title>
</head>


<body ng-controller="topLevelCtrl">
    <div class="well">
        <h4>Top Level Controller</h4>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                ng-click="reverseText()">Reverse</button>
                <button class="btn btn-default" type="button"
                ng-click="changeCase()">Case</button>
            </span>
            <input class="form-control" ng-model="data.dataValue">
        </div>
    </div>
    <div class="well" ng-controller="firstChildCtrl">
        <h4>First Child Controller</h4>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                ng-click="reverseText()">Reverse</button>
                <button class="btn btn-default" type="button"
                ng-click="changeCase()">Case</button>
            </span>
            <input class="form-control" ng-model="data.dataValue">
        </div>
    </div>
    <div class="well" ng-controller="secondChildCtrl">
        <h4>Second Child Controller</h4>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                ng-click="reverseText()">Reverse</button>
                <button class="btn btn-default" type="button"
                ng-click="changeCase()">Case</button>
                <button class="btn btn-default" type="button"
                ng-click="shiftFour()">Shift</button>
            </span>
            <input class="form-control" ng-model="data.dataValue">
        </div>
    </div>
</body>
<script  src="..\..\static\js\jquery-1.11.3.js" th:src="@{/js/jquery-1.11.3.js}"></script>
<script src="..\..\static\js\bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
<script src="..\..\static\js\angular.js" th:src="@{/js/angular.js}"></script>
<script src="..\..\static\controller\scopesControllerInheritence.js" th:src="@{/controller/scopesControllerInheritence.js}"></script>
</html>