<!DOCTYPE html>
<html  ng-app="customDirectiveApp" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="..\..\static\css\bootstrap.css" th:href="@{/css/bootstrap.css}"/>
	<link rel="stylesheet" type="text/css" href="..\..\static\css\bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}"/>
	<title>Custom Directives</title>
</head>
<body ng-controller="customDirectiveAppCtrl">
	<d<div class="panel panel-default">
	<div class="panel-heading">
		<h3>Products</h3>
	</div>
	<div class="panel-body">
		<button class="btn btn-primary" ng-click="incrementPrices()">
			Change Prices
		</button>
	</div>
	<div class="panel-body">
		<div unordered-list="products" list-property="price | currency"></div>
	</div>
</div>
</body>
<script  src="..\..\static\js\jquery-1.11.3.js" th:src="@{/js/jquery-1.11.3.js}"></script>
<script src="..\..\static\js\bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
<script src="..\..\static\js\angular.js" th:src="@{/js/angular.js}"></script>
<script src="..\..\static\directives\customDirective.js" th:src="@{/directives/customDirective.js}"></script>

</html>