<!DOCTYPE html>
<html  ng-app="formValidationApp" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="..\..\static\css\bootstrap.css" th:href="@{/css/bootstrap.css}"/>
	<link rel="stylesheet" type="text/css" href="..\..\static\css\bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}"/>
	<style>
		form .ng-invalid-required.ng-dirty { background-color: lightpink; }
		form .ng-invalid-email.ng-dirty { background-color: lightgoldenrodyellow; }
		form .ng-invalid.ng-dirty { background-color: lightpink; }
		form .ng-valid.ng-dirty { background-color: lightgreen; }
		span.summary.ng-invalid { color: red; font-weight: bold; }
		span.summary.ng-valid { color: green; }
		div.error {color: red; font-weight: bold;}
	</style>
	<title>Validation</title>
</head>
<body>
	<div id="todoPanel" class="panel" ng-controller="formValidationCtrl">
		<form name="myForm" ng-submit="addUser(newUser)" novalidate>
			<div class="well">
				<div class="form-group">
					<label>Name:</label>
					<input type="text" name="userName" class="form-control" required ng-model="newUser.name">
				</div>
				<div class="form-group">
					<label>Email:</label>
					<input type="email" name="userEmail" class="form-control" required ng-model="newUser.email">
					<div class="error"
					ng-show="myForm.userEmail.$invalid && myForm.userEmail.$dirty">
					{{getError(myForm.userEmail.$error)}}

				</div>
			</div>
			<div class="checkbox">
				<label>
					<input name="agreed" type="checkbox"
					ng-model="newUser.agreed" required>
					I agree to the terms and conditions
				</label>
			</div>
			<button type="submit" class="btn btn-primary btn-block" ng-disabled="myForm.$invalid">OK</button>
		</div>

		<div class="well">
			<div>
				Message: {{message}}
				<span class="summary"
				ng-class="myForm.$valid ? 'ng-valid' : 'ng-invalid'">
				Valid-{{myForm.$valid}}<br>
				Pristine-{{myForm.$pristine}}
			</span>
			<div class="form-group">
				<label>Text:</label>
				<input name="sample" class="form-control" ng-model="inputValue"
				ng-required="requireValue" ng-minlength="3"
				ng-maxlength="10" ng-pattern="matchPattern">
			</div>
			<div>
				<p>Required Error: {{myForm.sample.$error.required}}</p>
				<p>Min Length Error: {{myForm.sample.$error.minlength}}</p>
				<p>Max Length Error: {{myForm.sample.$error.maxlength}}</p>
				<p>Pattern Error: {{myForm.sample.$error.pattern}}</p>
				<p>Element Valid: {{myForm.sample.$valid}}</p>
			</div>

			<div class="form-group">
				<label>Select an Action:</label>
				<select ng-model="selectValue"
				ng-options=" item.id as item.action for item in todos">
			</select>
			<p>Selected: {{selectValue || 'None'}}</p>
		</div>

		<div class="form-group">
			<label>Select an Action:</label>
			<select ng-model="selectValue"
			ng-options="item.action group by item.place for item in todos">
		</select>
		<p>Selected: {{selectValue || 'None'}}</p>
	</div>
</div>



</form>

</div>



</body>
<script  src="..\..\static\js\jquery-1.11.3.js" th:src="@{/js/jquery-1.11.3.js}"></script>
<script src="..\..\static\js\bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
<script src="..\..\static\js\angular.js" th:src="@{/js/angular.js}"></script>
<script src="..\..\static\controller\formValidationController.js" th:src="@{/controller/formValidationController.js}"></script>
</html>