<!DOCTYPE html>
<html  ng-app="transcludeDirectiveApp" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="..\..\static\css\bootstrap.css" th:href="@{/css/bootstrap.css}"/>
	<link rel="stylesheet" type="text/css" href="..\..\static\css\bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}"/>
	<title>Transclude Directives</title>
</head>
<body ng-controller="transcludeDirectiveCtrl">
	<panel>
		The data value comes from the: {{dataSource}}
	</panel>
</body>

<script  src="..\..\static\js\jquery-1.11.3.js" th:src="@{/js/jquery-1.11.3.js}"></script>
<script src="..\..\static\js\bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
<script src="..\..\static\js\angular.js" th:src="@{/js/angular.js}"></script>
<script type="text/ng-template" id="template">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>This is the panel</h4>
		</div>
		<div class="panel-body" ng-transclude>
		</div>
	</div>
</script>
<script src="..\..\static\directives\transcludeDirective.js" th:src="@{/directives/transcludeDirective.js}"></script>

</html>