h2 {
    text-shadow: 2px 2px 2px #CCCCCC;
}

.calculator-container {

    background-color: #c1bbbb !important;
    width: 900px;
    margin: auto;
    height: 200px;
}

.wrapper{
    padding-left: 215px;
    padding-top: 50px;

}

.boxed {
    border: 1px solid green;
    display: inline-block;
    background-color: #31b0d5;
    height: 23px;
    width: 25px;
    margin: auto;
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 1px;
    line-height: inherit;
    border-radius: 2px;
    font-size: 16px
}