<html xmlns="http://www.w3.org/1999/xhtml"
        >
<head>
    <title>City Info</title>
<!--  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.css}" />
 <link rel="stylesheet" type="text/css" th:href="@{/css/style-showme.css}" />
 <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />-->
     <link rel="stylesheet" type="text/css"
              href="C:\Users\suhail\show-me\showme-ui\src\main\resources\css\bootstrap.css"/>
        <link rel="stylesheet" type="text/css"
              href="C:\Users\suhail\show-me\showme-ui\src\main\resources\css\style-showme.css"/>
        <link rel="stylesheet" type="text/css"
              href="C:\Users\suhail\show-me\showme-ui\src\main\resources\css\bootstrap-theme.css"/>
        <meta charset="UTF-8">
</head>
<body ng-app="cityApp">
<div class="page-header">
<h3>City App</h3>
    </div>
<div ng-controller="CityController as CityCntl">
<div ng-bind="CityCntl.cityName"></div>

</div>
</body>

<!-- <script th:src="@{/static/jquery-1.11.3.js}"></script>
<script th:src="@{/static/bootstrap.js}"></script>
<script th:src="@{/static/angular.js}"></script> -->

<script src="C:\Users\suhail\show-me\showme-ui\src\main\resources\static\angular.js"></script>
<script src="C:\Users\suhail\spring-workspace\ShowMeCode\src\main\resources\static\js\jquery-1.11.3.js"></script>
<script src="C:\Users\suhail\show-me\showme-ui\src\main\resources\static\jquery-1.11.3.js"></script>
<script src="C:\Users\suhail\show-me\showme-ui\src\main\resources\js\cityapp.service.js"></script>
</html>