<!DOCTYPE html>
<html ng-app="exampleApp" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Directives</title>
	<link rel="stylesheet" type="text/css" href="..\..\static\css\bootstrap.css" th:href="@{/css/bootstrap.css}"/>
	<link rel="stylesheet" type="text/css" href="..\..\static\css\bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}"/>
	<style>
		tr.Red { background-color: lightcoral; }
		tr.Green { background-color: lightgreen;}
		tr.Blue { background-color: lightblue; }
	</style>
</head>
<body>
	<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
		<h3 class="panel-header">To Do List</h3>
		<div class="well">
			<span ng-repeat="button in buttonNames">
				<button class="btn btn-info" ng-click="data.rowColor = button">
					{{button}}
				</button>
			</span>
		</div>
		<table class="table">
			<thead>
				<tr><th>#</th><th>Action</th><th>Done</th></tr>
			</thead>
			<tr ng-repeat="item in todos" ng-class="data.rowColor"
			ng-mouseenter="handleEvent($event)"
			ng-mouseleave="handleEvent($event)">
			<td>{{$index + 1}}</td>
			<td>{{item.action}}</td>
			<td ng-class="data.columnColor">{{item.complete}}</td>
		</tr>
	</table>

	<div class="checkbox well">
		<label>
			<input type="checkbox" ng-model="dataValue">
			Set the Data Value
		</label>
	</div>
	<button class="btn btn-success" ng-disabled="dataValue">My Button</button>

	<h3 class="panel-header">
		To Do List
		<span class="label label-info">
			{{(todos | filter: {complete: 'false'}).length}}
		</span>
	</h3>
	<table class="table">
		<thead>
			<tr><th>#</th><th>Action</th><th>Done</th></tr>
		</thead>
		<tr ng-repeat="item in todos">
			<td>{{$index + 1}}</td>
			<td>{{item.action}}</td>
			<td>
			<input type="checkbox" ng-model="item.complete">
			</td>
		</tr>
	</table>
</div>
</body>

<script  src="..\..\static\js\jquery-1.11.3.js" th:src="@{/js/jquery-1.11.3.js}"></script>
<script src="..\..\static\js\bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
<script src="..\..\static\js\angular.js" th:src="@{/js/angular.js}"></script>

<script>
	angular.module("exampleApp", [])
	.controller("defaultCtrl", function ($scope) {
		$scope.todos = [
		{ action: "Get groceries", complete: false },
		{ action: "Call plumber", complete: false },
		{ action: "Buy running shoes", complete: true },
		{ action: "Buy flowers", complete: false },
		{ action: "Call family", complete: false }];
		$scope.buttonNames = ["Red", "Green", "Blue"];
		$scope.data = {
			rowColor: "Blue",
			columnColor: "Green"
		};
		$scope.handleEvent = function (e) {
			console.log("Event type: " + e.type);
			$scope.data.columnColor = e.type == "mouseover" ? "Green" : "Blue";
		};
		$scope.dataValue = false;
	});
</script>
</html>