<!DOCTYPE html>
<html ng-app>
<head>
    <title>First Test</title>
</head>
<link rel="stylesheet" type="text/css" href="..\..\static\css\bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="..\..\static\css\bootstrap-theme.css"/>
<meta charset="UTF-8">
</head>
<body>
<div class="btn btn-default">{{"AngularJS"}}</div>
<div class="btn btn-success">Bootstrap</div>
</body>


<script  src="..\..\static\js\jquery-1.11.3.js"></script>
<script src="..\..\static\js\bootstrap.js"></script>
<script src="..\..\static\js\angular.js"></script>
</html>