<!DOCTYPE html>
<html  ng-app="sportsStore" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SportsStore</title>
    <link rel="stylesheet" type="text/css" href="..\..\static\css\bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" href="..\..\static\css\bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}"/>

</head>
<body  ng-controller="sportsStoreCtrl">
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">SPORTS STORE</a>
        <cart-summary/>
    </div>

    <div class="alert alert-danger" ng-show="data.error">Error ({{data.error.status}}). The product data was not loaded.
        <a href="/sports/store" class="alert-link">Click here to try again</a>
    </div>
    <ng-view />

</body>

<script  src="..\..\static\js\jquery-1.11.3.js" th:src="@{/js/jquery-1.11.3.js}"></script>
<script src="..\..\static\js\bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
<script src="..\..\static\js\angular.js" th:src="@{/js/angular.js}"></script>
<script>
    angular.module("sportsStore", ["customFilters","cart","ngRoute"])
    .config(function ($routeProvider) {
        $routeProvider.when("/complete", {
            templateUrl: "../view/thankYou.html"
        });

        $routeProvider.when("/placeorder", {
            templateUrl: "../view/placeOrder.html"
        });

        $routeProvider.when("/checkout", {
            templateUrl: "../view/checkoutSummary.html"
        });
        $routeProvider.when("/products", {
            templateUrl: "../view/productList.html"
        });
        $routeProvider.otherwise({
           templateUrl: "../view/productList.html"
        });
    });
</script>
<script src="..\..\static\controller\sports_store_controller.js" th:src="@{/controller/sports_store_controller.js}"></script>
<script src="..\..\static\filter\sports_customFilters.js" th:src="@{/filter/sports_customFilters.js}"></script>
<script src="..\..\static\controller\productListControllers.js" th:src="@{/controller/productListControllers.js}"></script>
<script src="..\..\static\service_js\cart.js" th:src="@{/service_js/cart.js}"></script>

<script src="..\..\static\controller\checkoutController.js" th:src="@{/controller/checkoutController.js}"></script>
</html>