<!--Changing the DOM in Response to User Actions
Problem
You wish to change the CSS of an HTML element on a mouse click and encapsulate this behavior
in a reusable component.-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="..\..\..\static\css\bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" href="..\..\..\static\css\bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}" />
</head>

<body ng-app="changeDOMApp">

<my-widget>
  
  <p>Hello World</p>
</my-widget>
</body>
<script src="..\..\..\static\js\jquery-1.11.3.js" th:src="@{/js/jquery-1.11.3.js}"></script>
<script src="..\..\..\static\js\bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
<script src="..\..\..\static\js\angular.js" th:src="@{/js/angular.js}"></script>
<script src="..\..\..\static\ng_receipes_js\changeDOMDirective.js" th:src="@{/ng_receipes_js/changeDOMDirective.js}"></script>

</html>
<!-- Solution
In the HTML document we use the new directive as an HTML element my-widget, which can be
found in the Javascript code as myWidget again. The directive function returns a restriction and a
link function.Whether you use the attribute or element mechanism will depend on your use case. Generally
speaking one would use the element mechanism to define a custom reusable component. The
attribute mechanism would be used whenever you want to “configure” some element or enhance it
with more behavior. Other available options are using the directive as a class attribute or a comment.Whether you use the attribute or element mechanism will depend on your use case. Generally
speaking one would use the element mechanism to define a custom reusable component. The
attribute mechanism would be used whenever you want to “configure” some element or enhance it
with more behavior. Other available options are using the directive as a class attribute or a comment.: -->
